.ui.three.column.grid .row{
    padding-top: 70px;
}

.ui.card{
    margin: auto;
}

.ui.card .content{
    text-align: center;
}

.ui.card .image{
    height: 290px;
    width: 290px;
}

.ui.card .content .header{
    color: #2185D0;
}
