.ui.segment {
    padding-top: 5px;
}

.ui.red.ribbon.label{
    margin-bottom: 5px;
}

.ui.blue.ribbon.label{
    margin-bottom: 5px;
}

.ui.orange.ribbon.label{
    margin-bottom: 5px;
}

.ui.teal.ribbon.label{
    margin-bottom: 5px;
}

.ui.purple.ribbon.label{
    margin-bottom: 5px;
}

.ui.primary.button{
    float: right;
}